<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>编辑店铺</title>

    <!-- Bootstrap core CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/resources/css/dashboard.css" rel="stylesheet">
<!--    <link href="/resources/css/carousel.css" rel="stylesheet">-->
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">校乐购 'ᴗ' </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">网站首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">跳蚤市场 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/register">卖家板块 </a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="搜索店铺或商品" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜一搜</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            店铺管理 <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            商品管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            订单管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="gift"></span>
                            快递状态
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            帐户详情
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bell"></span>
                            消息通知
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>客户服务</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="info"></span>
                            自助服务
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="mail"></span>
                            投诉建议
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="phone-incoming"></span>
                            联系客服
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="flag"></span>
                            关于我们
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="container">
                <div class="py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    <h2>编辑您的店铺</h2>
                    <p class="lead">您可以随时更新您的店铺信息,但是记得仔细校对哟!</p>
                </div>
                <hr/>

                <div class="row">
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">编辑店铺</h4>
                        <div class="needs-validation" id="registerShopForm"  novalidate>
                            <div class="mb-3">
                                <label for="shopName">招牌名字</label>
                                <input type="text" class="form-control" id="shopName" name="shopName"  required>
                                <div class="invalid-feedback">
                                    请输入一个可使用的店铺名字.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="shopDesc">店铺描述</label>
                                <textarea  class="form-control" id="shopDesc" name="shopDesc" required></textarea>
                                <div class="invalid-feedback">
                                    请输入店铺描述.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="phone">手机号码</label>
                                <input type="text" class="form-control" id="phone" name="phone" >
                                <div class="invalid-feedback">
                                    请输入正确的手机号码.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="shopAddr">店铺地址</label>
                                <input type="text" class="form-control" id="shopAddr" name="shopAddr"  required>
                                <div class="invalid-feedback">
                                    请输入您的店铺地址.
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="areaSel">选择店铺区域</label>
                                    <select class="custom-select d-block w-100" id="areaSel" name="areaId"required>
                                        <option value="">选择店铺区域</option>
                                        <option>华东</option>
                                        <option>华西</option>
                                        <option>华南</option>
                                        <option>华北</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        请选择店铺区域.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="shopCategorySel">选择店铺分类</label>
                                    <select class="custom-select d-block w-100" id="shopCategorySel" name="shopCategoryId" required>
                                        <option value="">选择店铺分类</option>
                                        <option>私人店铺</option>
                                        <option>企业店铺</option>
                                        <option>组织店铺</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        请选择店铺分类.
                                    </div>
                                </div>

                            </div>

                            <hr class="mb-4">
                            <div class="form-group">
                                <label for="inputFile">上传一张店铺主页图片</label>
                                <input type="file" id="inputFile" >
                                <p class="help-block">如果您不需要重新更换店铺图片,请跳过上传图片的步骤.</p>
                            </div>
                            <hr class="mb-4">

                        </div>
                            <button class="btn btn-primary btn-lg btn-block "  id="submit_EditShop">提交更新</button>
                    </div>
                </div>


                <!-- FOOTER -->
                <footer class="container">
                    <p class="float-right"><a href="#">Back to top</a></p>
                    <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="https://getbootstrap.com/docs/4.1/examples/carousel/#">Terms</a></p>
                </footer>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/resources/js/jquery.min.js"></script>
<!--user-defined-js-->
<script src="/resources/js/editShop.js" charset="UTF-8"></script>

<script src="/resources/js/popper.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/holder.min.js"></script>

<!-- Icons -->
<script src="/resources/js/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!--;----- Graphs -----;-->
<script src="/resources/js/Chart.min.js"></script>&ndash;&gt;




<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none"
     style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
    <defs>
        <style type="text/css"></style>
    </defs>
    <text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">
        500x500
    </text>
</svg>
</body>
</html>
