<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/resources/css/dashboard.css" rel="stylesheet">
<!--    <link href="/resources/css/carousel.css" rel="stylesheet">-->
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">校乐购 'ᴗ' </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">网站首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">跳蚤市场 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/shopManagement">卖家板块 </a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="搜索店铺或商品" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜一搜</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            店铺管理 <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productManagement">
                            <span data-feather="shopping-cart"></span>
                            商品管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productCategory">
                            <span data-feather="file"></span>
                            分类管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="gift"></span>
                            快递状态
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            帐户详情
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bell"></span>
                            消息通知
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>客户服务</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="info"></span>
                            自助服务
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="mail"></span>
                            投诉建议
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="phone-incoming"></span>
                            联系客服
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="flag"></span>
                            关于我们
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-auto ml-sm-auto col-lg-10 px-4">

            <div class="container">
                <div class="py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    <h2>注册你的店铺</h2>
                    <p class="lead">想加入卖家阵营吗,现在就来开通一个店铺吧!</p>
                </div>
                <hr/>
            </div>

                    <div class="col-md-auto order-md-1">
                        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                            <h1 class="display-4">管理您的店铺</h1>
                            <p class="lead">您可以在下方的功能选择框里预览您可以执行的操作,然后根据需要选择操作.</p>
                        </div>

                        <div class="container">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-header">
                                        <a type="button" class="btn btn-lg btn-block btn-primary" href="/register">注册店铺</a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-title pricing-card-title">注意事项</p>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>每个用户只能注册一个店铺;</li>
                                            <li>您可以同时拥有买家和卖家两种身份;</li>
                                            <li>注册需要等待约3个工作日的审核时间;</li>
                                            <li>注册成功后请仔细阅读店铺运营规范;</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card mb-4 box-shadow">
                                    <div class="card-header">
                                        <a type="button" class="btn btn-lg btn-block btn-primary" href="/editShop">编辑店铺</a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title pricing-card-title">注意事项</p>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>需要您已经拥有了一个已通过审核的店铺;</li>
                                            <li>您可以再次修改店铺的所有信息;</li>
                                            <li>您每个月只有一次修改机会;</li>
                                            <li>请等待约3个工作日的审核时间;</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="card mb-4 box-shadow">
                                    <div class="card-header">
                                        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/see">查看店铺</a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-title pricing-card-title">功能说明</p>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>您可以通过顾客视角来浏览您的店铺;</li>
                                            <li>进入顾客视角后您无法执行购买和收藏操作;</li>
                                            <li>客制化店铺主页的功能在以后会上线;</li>
                                            <li>如果您有好的建议请联系我们;</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <!-- FOOTER -->
                <footer class="container">
                    <p class="float-right"><a href="#">Back to top</a></p>
                    <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="https://getbootstrap.com/docs/4.1/examples/carousel/#">Terms</a></p>
                </footer>


        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/resources/js/jquery.min.js"></script>
<!--user-defined-js-->

<script src="/resources/js/popper.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/holder.min.js"></script>

<!-- Icons -->
<script src="/resources/js/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!--;----- Graphs -----;-->
<script src="/resources/js/Chart.min.js"></script>




<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none"
     style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
    <defs>
        <style type="text/css"></style>
    </defs>
    <text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">
        500x500
    </text>
</svg>
</body>
</html>
