<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingguanzhang.dao.ShopCategoryMapper">
  <resultMap id="BaseResultMap" type="com.kingguanzhang.pojo.ShopCategory">
    <id column="shop_category_id" jdbcType="INTEGER" property="shopCategoryId" />
    <result column="shop_category_name" jdbcType="VARCHAR" property="shopCategoryName" />
    <result column="shop_category_desc" jdbcType="VARCHAR" property="shopCategoryDesc" />
    <result column="shop_category_img" jdbcType="VARCHAR" property="shopCategoryImg" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    shop_category_id, shop_category_name, shop_category_desc, shop_category_img, priority, 
    create_time, edit_time, parent_id
  </sql>
  <select id="selectByExample" parameterType="com.kingguanzhang.pojo.ShopCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_shop_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_shop_category
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_shop_category
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingguanzhang.pojo.ShopCategoryExample">
    delete from tb_shop_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingguanzhang.pojo.ShopCategory">
    insert into tb_shop_category (shop_category_id, shop_category_name, 
      shop_category_desc, shop_category_img, priority, 
      create_time, edit_time, parent_id
      )
    values (#{shopCategoryId,jdbcType=INTEGER}, #{shopCategoryName,jdbcType=VARCHAR}, 
      #{shopCategoryDesc,jdbcType=VARCHAR}, #{shopCategoryImg,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, #{parentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kingguanzhang.pojo.ShopCategory">
    insert into tb_shop_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopCategoryId != null">
        shop_category_id,
      </if>
      <if test="shopCategoryName != null">
        shop_category_name,
      </if>
      <if test="shopCategoryDesc != null">
        shop_category_desc,
      </if>
      <if test="shopCategoryImg != null">
        shop_category_img,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopCategoryId != null">
        #{shopCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shopCategoryName != null">
        #{shopCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryDesc != null">
        #{shopCategoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryImg != null">
        #{shopCategoryImg,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingguanzhang.pojo.ShopCategoryExample" resultType="java.lang.Long">
    select count(*) from tb_shop_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_shop_category
    <set>
      <if test="record.shopCategoryId != null">
        shop_category_id = #{record.shopCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.shopCategoryName != null">
        shop_category_name = #{record.shopCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopCategoryDesc != null">
        shop_category_desc = #{record.shopCategoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.shopCategoryImg != null">
        shop_category_img = #{record.shopCategoryImg,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editTime != null">
        edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_shop_category
    set shop_category_id = #{record.shopCategoryId,jdbcType=INTEGER},
      shop_category_name = #{record.shopCategoryName,jdbcType=VARCHAR},
      shop_category_desc = #{record.shopCategoryDesc,jdbcType=VARCHAR},
      shop_category_img = #{record.shopCategoryImg,jdbcType=VARCHAR},
      priority = #{record.priority,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      parent_id = #{record.parentId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingguanzhang.pojo.ShopCategory">
    update tb_shop_category
    <set>
      <if test="shopCategoryName != null">
        shop_category_name = #{shopCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryDesc != null">
        shop_category_desc = #{shopCategoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryImg != null">
        shop_category_img = #{shopCategoryImg,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingguanzhang.pojo.ShopCategory">
    update tb_shop_category
    set shop_category_name = #{shopCategoryName,jdbcType=VARCHAR},
      shop_category_desc = #{shopCategoryDesc,jdbcType=VARCHAR},
      shop_category_img = #{shopCategoryImg,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      parent_id = #{parentId,jdbcType=INTEGER}
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </update>
</mapper>